<form class="sgrpg">
    <h1>Resting Heal</h1>
    <div class="form-group">
        <label>Short Rest:</label>
        <input type="text" name="short" value="{{shortRestHeal}}" disabled />
    </div>
    <div class="form-group">
        <label>Long Rest:</label>
        <input type="text" name="long" value="{{longRestHeal}}" disabled />
    </div>
    <div class="form-group">
        <label>Recover Full HP:</label>
        <input type="text" name="full" value="Full HP: {{fullHeal}}" disabled />
    </div>
</form>