<div class="bulk-status">
    <span class="bulk-bar" style="width:{{structural.bulkMeter.currentBulkPerc}}%; {{#if structural.bulkMeter.isOverloaded}}background: red;{{/if}}"></span>
    <span class="bulk-label">{{structural.bulkMeter.currentBulk}} / {{structural.bulkMeter.maxBulk}}</span>
</div>