<div class="bulk-status">
    <span class="bulk-bar" style="width:{{bulkMeter.currentBulkPerc}}%; {{#if bulkMeter.isOverloaded}}background: red;{{/if}}"></span>
    <span class="bulk-label">{{bulkMeter.currentBulk}} / {{bulkMeter.maxBulk}}</span>
</div>