<div class="bulk-status">
    <span class="bulk-bar" style="width:{{currentBulkPerc}}%; {{#if isOverloaded}}background: red{{/if}}"></span>
    <span class="bulk-label">{{currentBulk}} / {{maxBulk}}</span>
</div>