<div class="resources grid grid-3col">
    <div class="resource flex-group-center flexrow">
        <label for="data.worn" class="resource-label">Worn</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input name="data.worn" type="checkbox" {{checked data.worn}} data-dtype="Boolean" />
        </div>
    </div>
    <div class="resource flex-group-center">
        <label for="data.acBonus" class="resource-label">Armor Class</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.acBonus" value="{{data.acBonus}}" data-dtype="Number" />
        </div>
    </div>
    <div class="resource flex-group-center">
        <label for="data.bulkBonus" class="resource-label">Bulk Cap</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.bulkBonus" value="{{data.bulkBonus}}" data-dtype="Number" />
        </div>
    </div>
</div>