<div class="resources grid grid-3col">
    <div class="resource flex-group-center flexrow">
        <label for="system.worn" class="resource-label">Worn</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input name="system.worn" type="checkbox" {{checked system.worn}} data-dtype="Boolean" />
        </div>
    </div>
    <div class="resource flex-group-center">
        <label for="system.acBonus" class="resource-label">Armor Class</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.acBonus" value="{{system.acBonus}}" data-dtype="Number" />
        </div>
    </div>
    <div class="resource flex-group-center">
        <label for="system.bulkBonus" class="resource-label">Bulk Cap</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.bulkBonus" value="{{system.bulkBonus}}" data-dtype="Number" />
        </div>
    </div>
</div>