<div class="resources grid grid-2col">
    <div class="resource flex-group-center">
        <label for="data.toHit" class="resource-label">Tech level</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input name="data.techLevel" type="text" value="{{data.techLevel}}" data-dtype="Number"/>
        </div>
    </div>
    <div class="resource flex-group-center">
        <label for="data.toHit" class="resource-label">Quantity</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input name="data.quantity" type="text" value="{{data.quantity}}" data-dtype="Number"/>
        </div>
    </div>
</div>