<div class="grid grid-2col">
    <div class="flexcol details-column">
        {{!-- Left column --}}
        <div class="details-entry grid grid-2col">
            <label class="attribute-label" for="data.details.type">Bulk</label>
            <input type="text" name="data.bulk" value="{{data.bulk}}" data-dtype="Number"/>
        </div>
        <div class="flex1"></div>
    </div>

    <div class="flexcol details-column">
        {{!-- Right column --}}
        <div class="flex1"></div>
    </div>
</div>