<div class="resources grid grid-2col">
    <div class="resource flex-group-center">
        <label for="system.techLevel" class="resource-label">Tech level</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input name="system.techLevel" type="text" value="{{system.techLevel}}" data-dtype="Number"/>
        </div>
    </div>
    <div class="resource flex-group-center">
        <label for="system.quantity" class="resource-label">Quantity</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input name="system.quantity" type="text" value="{{system.quantity}}" data-dtype="Number"/>
        </div>
    </div>
</div>