<div class="grid grid-2col">
    <div class="flexcol details-column">
        {{!-- Details left column --}}
        <div class="details-entry grid grid-2col">
            <label class="attribute-label" for="system.speed">Bulk capacity</label>
            <input name="system.bulkBonus" value="{{system.bulkBonus}}" data-dtype="Number" />
        </div>
        <div class="details-entry grid grid-2col">
            <label class="attribute-label" for="system.size">Size</label>
            <select name="system.size">
                {{selectOptions config.sizes selected=system.size localize=false}}
            </select>
        </div>
        <div class="details-entry grid grid-2col">
            <label class="attribute-label" for="system.speed">Speed</label>
            <input name="system.speedBase" value="{{system.speedBase}}" data-dtype="Number" />
        </div>
        <div class="flex1"></div>
    </div>

    <div class="flexcol details-column">
        {{!-- Details right column --}}
        <div style="flex: 0">
            {{> "systems/sgrpg/templates/sheets/parts/actor-equip-inventory.hbs"}}
        </div>
        <div class="flex1"></div>
    </div>
</div>