<div class="resources grid grid-3col">
    <div class="resource flex-group-center">
        <label for="data.toHit" class="resource-label">Tech level</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input name="data.techLevel" type="text" value="{{data.techLevel}}" data-dtype="Number"/>
        </div>
    </div>
    <div class="resource flex-group-center">
        <label for="data.dmg" class="resource-label">Damage</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.dmg" value="{{data.dmg}}" data-dtype="String"/>
        </div>
    </div>
    <div class="resource flex-group-center">
        <label for="data.toHit" class="resource-label">To hit</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.toHit" value="{{data.toHit}}" data-dtype="String"/>
        </div>
    </div>
</div>