<form class="{{cssClass}}" autocomplete="off">
    <section class="form-body">
        {{#each flags as |fs section|}}
        <h3 class="form-header">{{section}}</h3>
        {{#each fs as |flag key|}}

        <div class="form-group">
            <label>{{flag.name}}</label>

            {{#if flag.isCheckbox}}
            <input type="checkbox" name="{{key}}" data-dtype="Boolean" {{checked flag.value}}/>

            {{else if flag.isSelect}}
            <select name="{{key}}" data-dtype="{{flag.type}}">
                {{#select flag.value}}
                {{#each flag.choices as |v k|}}
                <option value="{{k}}">{{localize v}}</option>
                {{/each}}
                {{/select}}
            </select>

            {{else}}
            <input type="text" name="{{key}}" value="{{flag.value}}" placeholder="{{flag.placeholder}}" data-dtype="{{flag.type}}"/>
            {{/if}}

            <p class="notes">{{flag.hint}}</p>
        </div>
        {{/each}}
        {{/each}}
    </section>

    <footer class="form-footer">
        <button type="submit" name="submit">
            <i class="far fa-save"></i> Update Special Traits
        </button>
    </footer>
</form>
