

 .charsheet input[type="range"].progress-bar {
    width: 100px;
}
.charsheet input[type="range"].progress-bar::-moz-range-thumb {
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.charsheet input[type="range"].progress-bar::-moz-range-progress {
    background: green;
    height: 10px;
}
.charsheet input[type="range"].progress-bar::-moz-range-track {
    background: red;
    height: 10px;
}
.charsheet input[type="number"].progress-bar {
    border: 2px solid black;
}
.charsheet a.hidden {
    display: none;
}
.charsheet .bold {
    font-weight: 800;
    font-size: medium;
}
.charsheet label {
    margin: 0px;
    width: 70px;
    text-transform: capitalize;
    font-size: 0.8em;
}
.charsheet label.title {
    width: 130px;
    font-size: 1.3em;
    text-align: center;
}
.charsheet h3 {
    text-align: center;
}
.charsheet .short {
    width: 50px;
}
.charsheet .txtcenter {
    text-align: center;
}
.charsheet .slash {
    font-size: 2em;
    font-weight: bold;
}
.charsheet input[type="text"] {
    background-color: transparent;
    border-style: none none solid none;
    border-width: 2px;
    border-radius: 0px;
    border-color: black;
    padding: 0px 4px;
    margin: 0px 4px;
    width: auto;
}
.charsheet input[type="text"]:placeholder-shown {
    background-color: #eac9d1;
}
.charsheet input[type="text"]:focus {
    background-color: #ccc;
}
.charsheet input[type="number"] {
    background-color: transparent;
    border-style: none none solid none;
    border-width: 2px;
    border-radius: 0px;
    border-color: black;
    text-align: center;
    width: 40px;
}
.charsheet input[type="number"]:placeholder-shown {
    background-color: #eac9d1;
}
.charsheet input[type="number"]:focus {
    background-color: #ccc;
}
.charsheet .w30, .charsheet input[type="text"].w30, .charsheet input[type="number"].w30 {
    width: 30px;
}
.charsheet .w40, .charsheet input[type="text"].w40, .charsheet input[type="number"].w40 {
    width: 40px;
}
.charsheet .w50, .charsheet input[type="text"].w50, .charsheet input[type="number"].w50 {
    width: 50px;
}
.charsheet .w70, .charsheet input[type="text"].w70, .charsheet input[type="number"].w70 {
    width: 70px;
}
.charsheet .w110, .charsheet input[type="text"].w110, .charsheet input[type="number"].w110 {
    width: 110px;
}
.charsheet input[type="checkbox"].checkbox {
    border-style: solid black;
    border-radius: 0px;
}
.charsheet input[type="text"].stat, .charsheet input[type="number"].stat {
    font-size: 2em;
    font-weight: bold;
}
.charsheet textarea:placeholder-shown, .charsheet input[type="text"]:placeholder-shown, .charsheet input[type="number"]:placeholder-shown {
    background-color: #eac9d1;
}
.charsheet textarea:focus, .charsheet input[type="text"]:focus, .charsheet input[type="number"]:focus {
    background-color: #ccc;
}
.charsheet input[type=number]::-webkit-inner-spin-a, .charsheet input[type=number]::-webkit-outer-spin-a, .charsheet input[type=number].txtfield::-webkit-inner-spin-a, .charsheet input[type=number].txtfield::-webkit-outer-spin-a {
    -webkit-appearance: none;
    margin: 0;
}
.charsheet input[type=number], .charsheet input[type=number].txtfield {
    -moz-appearance: textfield;
}
.charsheet a[type^="roll"].txt-btn {
    height: 25px;
    line-height: unset;
    font-size: 12px;
    border: 2px solid black;
    background-color: transparent;
    margin-left: 5px;
    font-weight: bold;
    padding: 2px 5px 4px 5px;
}
.charsheet a[type^="roll"].txt-btn:before {
    content: ' ';
}
.charsheet a[type^="roll"].txt-btn:hover {
    background-color: #87afc7;
    background-position: 0 -28px;
}
.charsheet .version {
    float: left;
    margin-top: -114px;
    width: 240px;
    margin-left: 550px;
    display: flex;
    flex-flow: row nowrap;
}
.charsheet .section, .charsheet section {
    display: flex;
    padding: 5px;
    border: 2px solid black;
    background: white;
    opacity: 0.9;
}
.charsheet .columnflex {
    display: flex;
    flex-direction: column;
}
.charsheet .rowflex {
    display: flex;
    flex-direction: row;
}
.charsheet .wrap {
    flex-wrap: wrap;
}
.charsheet .nowrap {
    flex-wrap: nowrap;
}
.charsheet .center {
    align-items: center;
}
.charsheet .middle {
    justify-content: center;
}
.charsheet .spaced {
    justify-content: space-evenly;
}
.charsheet main.page1 {
    display: grid;
    grid-template-columns: 4fr 8fr 5fr 6fr;
    grid-template-rows: repeat(5, 2fr) 5fr 4fr;
    grid-template-areas: "name name name name " "attr skills hp condition" "attr skills prof condition" "attr skills ac condition" "attr skills speed bulk " "attr skills saves inventory" "attr attacks attacks attacks ";
    width: 850px;
    height: 1000px;
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Stargate-RPG/images/bg.png);
    background-repeat: no-repeat;
    background-size: 700px 700px;
    background-position: center;
    background-color: black;
}
.charsheet main.page2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "racial feats " "class equipment" "prof notes ";
    width: 840px;
    height: 990px;
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Stargate-RPG/images/bg.png);
    background-repeat: no-repeat;
    background-size: 700px 700px;
    background-position: center;
    background-color: black;
    grid-gap: 10px;
    padding: 5px;
}
.charsheet main.page2 label {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    width: 140px;
}
.charsheet main.page2 textarea {
    width: 390px;
    height: 280px;
    margin-bottom: 0px;
}
.charsheet main.page3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "settings other " "ammo changelog";
    width: 840px;
    height: 990px;
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Stargate-RPG/images/bg.png);
    background-repeat: no-repeat;
    background-size: 700px 700px;
    background-position: center;
    background-color: black;
    grid-gap: 10px;
    padding: 5px;
}
.charsheet main.page3 label {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    width: 250px;
}

.charsheet main.character, .charsheet main.background, .charsheet main.credits {
    display: none;
}
.charsheet input.tabstoggle[value="character"] ~ main.character, .charsheet input.tabstoggle[value="background"] ~ main.background, .charsheet input.tabstoggle[value="credits"] ~ main.credits {
    display: grid;
}
.charsheet div.tab-as {
    display: flex;
    gap: 10px;
}
.charsheet section.name {
    grid-area: name;
    padding: 5px 0px 0px 0px;
    margin: 5px;
    width: 834px;
}
.charsheet section.name label {
    padding-left: 10px;
}
.charsheet section.name div select {
    width: 60px;
    margin-left: 14px;
}
.charsheet section.name input[type="number"] {
    height: 20px;
}
.charsheet .attr {
    grid-area: attr;
}
.charsheet .attr .stat {
    background-image: url(https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Stargate-RPG/images/attr.png);
    background-repeat: no-repeat;
    background-size: 124px 113px;
    width: 120px;
    height: 120px;
    background-position: center;
}
.charsheet .attr span:not(.mod) {
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
    font-size: 1.5em;
}
.charsheet .attr span.mod {
    width: 25px;
    margin-top: 4px;
    border-style: none;
    margin-bottom: 17px;
    border-width: 2px;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 8px;
}
.charsheet .attr input[type="number"] {
    width: 2em;
    margin-bottom: 7px;
    border-style: none;
    font-weight: bold;
    font-size: 1.5em;
}
.charsheet .attr a[type="roll"].large {
    font-size: 16px;
    margin-top: -5px;
    border-radius: 15px;
    width: 40.5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 15px;
    text-transform: uppercase;
}
.charsheet section.skills {
    grid-area: skills;
    padding-left: 10px;
    margin: 5px 2px 5px 5px;
}
.charsheet section.skills span:not(.mod) {
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
    text-transform: uppercase;
    font-size: 0.7em;
    padding-top: 9px;
    margin-left: 0px;
}
.charsheet section.skills span.mod {
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
}

.charsheet section.skills span.mod select {
    height: 15px;
    font-size: 10px;
}

.charsheet section.skills div {
    align-content: space-around;
}
.charsheet section.skills .mod {
    margin: 0px 4px 0px 4px;
    white-space: nowrap;
}
.charsheet section.skills a[type="roll"] {
    margin-right: 0px;
    text-transform: uppercase;
    /* font-size: 1.2em; */
}
.charsheet section.skills input[type="number"] {
    margin-left: 5px;
}
.charsheet section.hp {
    grid-area: hp;
}
.charsheet section.hp > div:nth-child(2) {
    width: 100px;
}
.charsheet section.hp div {
    flex-grow: 0.4;
    margin: 5px;
}
.charsheet section.hp label {
    font-size: 1.1em;
    font-weight: bold;
}
.charsheet section.hp label.txtcenter {
    font-size: 1.8em;
}
.charsheet section.hp .determ label {
    font-size: 1.2em;
    margin-right: 25px;
}
.charsheet section.condition {
    grid-area: condition;
    padding-left: 10px;
    margin: 0px 5px 0px 0px;
}
.charsheet section.condition span {
    text-transform: uppercase;
    padding-left: 5px;
    font-weight: bold;
    font-size: 12px;
}
.charsheet div.prof {
    grid-area: prof;
}
.charsheet div.prof span.mod {
    width: 25px;
    margin-top: 4px;
    border-style: none none solid none;
    margin-bottom: 4px;
    border-width: 2px;
    text-align: center;
}
.charsheet div.prof div {
    flex-grow: 0.4;
    margin: 5px;
}
.charsheet div.prof label {
    font-size: 1.1em;
    font-weight: bold;
}
.charsheet div.prof > div:nth-child(1) {
    padding: 5px 1px;
}
.charsheet div.prof > div:nth-child(1) > label:nth-child(1) {
    width: 80px;
}
.charsheet div.prof > div:nth-child(2) > label:nth-child(1) {
    padding: 0px;
}
.charsheet div.prof .init {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
}
.charsheet div.prof .init a {
    width: 63px;
    margin-left: 0px;
    padding-right: 7px;
    padding-left: 2px;
}
.charsheet div.prof .moxie {
    width: 62px;
}
.charsheet div.prof label.wide {
    width: 96px;
    padding: 0px;
}
.charsheet .prof > div:nth-child(2) > label:nth-child(1) {
    width: 56px;
}
.charsheet div.moxie > label:nth-child(1) {
    width: 54px;
}
.charsheet div.death > div:nth-child(3) > span:nth-child(4) {
    padding-right: 9px;
}
.charsheet div.ac {
    grid-area: ac;
}
.charsheet div.ac div {
    flex-grow: 0.4;
    margin: 5px;
}
.charsheet div.ac label {
    font-size: 1.1em;
    font-weight: bold;
}
.charsheet div.ac label.wide {
    width: 96px;
    padding: 0px;
}
.charsheet div.speed {
    grid-area: speed;
}
.charsheet div.speed div {
    flex-grow: 0.4;
    margin: 5px;
}
.charsheet div.speed .speed label {
    font-size: 1.2em;
    font-weight: bold;
}
.charsheet div.speed input[type="text"] {
    padding: 5px;
}
.charsheet div.speed div.death label {
    width: 100px;
    padding: 0px;
}
.charsheet div.speed div.death span {
    font-size: 0.8em;
    font-weight: bold;
}
.charsheet div.speed div.death div {
    margin: 5px 0px;
}
.charsheet div.speed div.death input[type="checkbox"] {
    transform: scale(0.8);
}
.charsheet section.saves {
    grid-area: saves;
    margin: 5px 20px 5px 5px;
    justify-content: space-between;
}
.charsheet section.saves span.mod {
    width: 25px;
    margin-top: 4px;
    border-style: none none solid none;
    margin-bottom: 4px;
    border-width: 2px;
    text-align: center;
    margin: 0px 4px;
}
.charsheet section.saves input[type="number"] {
    margin-left: 5px;
}
.charsheet section.saves div {
    padding-left: 8px;
}
.charsheet section.saves div.mb20 {
    margin-bottom: 20px;
}
.charsheet section.bulk {
    grid-area: bulk;
    width: 130px;
    height: 80px;
}
.charsheet section.inventory {
    grid-area: inventory;
    width: 130px;
}
.charsheet section.inventory textarea {
    width: 95%;
    height: 95%;
    margin-bottom: 0px;
}
.charsheet .attacks {
    grid-area: attacks;
    display: unset;
    grid-template-columns: 3.5fr repeat(5, 1fr) 2fr;
    grid-template-rows: repeat(5, 1fr);
    margin: 0px 5px 10px 5px;
}
.charsheet .attacks img {
    vertical-align: middle;
}

.charsheet .background section {
    max-height: 350px;
    overflow-y: scroll;
}
.charsheet section.other {
    grid-area: other;
}
.charsheet section.other div {
    padding: 10px;
}
.charsheet section.other span {
    font-size: 1.3em;
    margin-right: 10px;
}
.charsheet section.other input[type="text"] {
    width: 395px;
}
.charsheet section.other textarea.dmg {
    height: 60px;
    width: 245px;
}
.charsheet section.changelog {
    grid-area: changelog;
}
.charsheet section.changelog img.phoenix {
    width: 150px;
    height: 150px;
}
.charsheet div.ammo.grid {
    grid-area: ammo;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 5px 20px 5px 0px;
}
.charsheet div.ammo label {
    text-align: center;
    padding: 0px 0px 5px 0px;
}
.charsheet div.ammo div {
    margin: 7px 1px 7px 1px;
}

.charsheet .tab[data-tab].active {
    display: grid;
}

.charsheet section.condition label {
    font-size: 0.9em;
    font-weight: bold;
    width: unset;
}

.charsheet main.background div.editor {
    width: 100%;
    height: 100%;
}

.charsheet .inventory-item {
    line-height: 1.9em;
    margin: 0px;
    width: 100%;
}

.charsheet .inventory-item div {
    flex: 0 0 auto;
}

.charsheet .sheet-header {
    display: flex;
    height: 40px;
    flex-direction: column;
}

.charsheet .sg-sheet-body {
    display: block;
}