/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */

.sgrpg .form-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.sgrpg.chat-card {
    font-style: normal;
    font-size: 12px;
}

.sgrpg.chat-card .card-header {
    padding: 3px 0;
    border-top: 2px groove #FFF;
    border-bottom: 2px groove #FFF;
}

.sgrpg.chat-card .card-header img {
    flex: 0 0 36px;
    margin-right: 5px;
}

.sgrpg.chat-card .card-header h3 {
    flex: 1;
    margin: 0;
    line-height: 36px;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-size: 20px;
    font-weight: 700;
    color: #4b4a44;
}

.sgrpg.chat-card .card-header h3:hover {
    color: #111;
    text-shadow: 0 0 10px red;
}

.sgrpg.chat-card .card-content {
    margin: 5px 0;
}

.sgrpg.chat-card .card-content h3 {
    font-size: 12px;
    margin: 0;
    font-weight: bold;
}

.sgrpg.chat-card .card-content>* {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.sgrpg.chat-card .card-buttons {
    margin: 5px 0;
}

.sgrpg.chat-card .card-buttons span {
    display: block;
    line-height: 28px;
    text-align: center;
    border: 1px solid #CCC;
}

.sgrpg.chat-card .card-buttons button {
    font-size: 12px;
    height: 24px;
    line-height: 20px;
    margin: 2px 0;
}

.sgrpg.chat-card .card-footer {
    padding: 3px 0 0;
    border-top: 2px groove #FFF;
}

.sgrpg.chat-card .card-footer span {
    border-right: 2px groove #FFF;
    padding: 0 3px 0 0;
    font-size: 10px;
}

.sgrpg.chat-card .card-footer span:last-child {
    border-right: none;
    padding-right: 0;
}

.dice-roll .dice-total.success {
    color: inherit;
    background: #c7d0c0;
    border: 1px solid #006c00;
}

.dice-roll .dice-total.failure {
    color: inherit;
    background: #ffdddd;
    border: 1px solid #6e0000;
}

.dice-roll .dice-total.critical {
    color: green;
}

.dice-roll .dice-total.fumble {
    color: red;
}


.sgrpg .item-image {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 2px;
    border-radius: 4px;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

.sgrpg table.inventory thead {
    position: sticky;
    top: 0px;
}

.sgrpg table.inventory .inventory-item:hover .item-image {
    background-image: url("../../../icons/svg/d20-grey.svg") !important;
}

.sgrpg table.inventory .inventory-item .item-image:hover {
    background-image: url("../../../icons/svg/d20-black.svg") !important;
}

.sgrpg .bulk-status {
    flex: 0 0 12px;
    background: #7a7971;
    margin: 1px 0 0 1px;
    border: 1px solid #191813;
    border-radius: 3px;
    position: relative;
}

.sgrpg .bulk-status .bulk-bar {
    position: absolute;
    top: 1px;
    left: 1px;
    background: #6c8aa5;
    height: 8px;
    border: 1px solid #cde4ff;
    border-radius: 2px;
}

.sgrpg .bulk-status .bulk-label {
    height: 10px;
    padding: 0 5px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 11px;
    line-height: 10px;
    text-align: right;
    color: #EEE;
    text-shadow: 0 0 5px #000;
}